<div class="login-page">
    <div class="login-card">
        <h1>Login</h1>
        <form action="/user/login" method="POST">
            <label for="username">Username</label>
            <input type="text" id="username" placeholder="Enter Username" name="username" required>

            <label for="password">Password</label>
            <input type="password" id="password" placeholder="Enter Password" name="password" required>

            <button type="submit" class="btn-primary">Login</button>
            <a href="/user/register" class="register-link">Go to register</a>
        </form>
    </div>
</div>
